<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Page</title>
</head>
<body>
    <center>
        <h1>Project Page</h1>
        <br><br>
        <a href="{% url 'view_projects' %}"><button>View All Projects</button></a>
        <br><br>
        <h2>Create Project</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="enter project name" name="pname" required><br><br>
            <input type="text" placeholder="enter project description" name="pdesc" required><br><br>
            <input type="date" name="st_date" required><br><br>
            <input type="date" name="end_date" required><br><br>
            
            <input type="submit" value="Create project">
        </form>
        <br><br>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}

        
    </center>
</body>
</html>