<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Task</title>
</head>
<body>
    <center>
        <h1>Update Task</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="tname" value="{{ task.tname }}" readonly><br><br>
            <input type="text" placeholder="updated task description" name="tdesc" required><br><br>
            <select name="status">
                {% for value, display in status_choices %}
                    <option value="{{ value }}">{{ display }}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="Update Task">
        </form>
        <br><br>
        {% if messages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}
    </center>
</body>
</html>